.body_lythuyet{
	font-family: Geogria, 'Times New Roman', Times, serif;
	width: 500px;
border: 1px solid #0033FF;
margin:auto;
}
.profile{
	background-image: url('img/title_background.gif');
	height: 25px;
	line-height: 25px;
  font-weight: bold;
}
.facts{
	height: 25px;
	line-height: 25px;
  font-weight: bold;
    padding-top: 15px;
	margin-left: 5px;
}
.information {
  clear: right;
  overflow:scroll;
  height: 100%;
}
.img_avatar {
  float: left;
  clear: none;
  padding-left: 5px;
  padding-right: 5px;
  height: 90px;
  width: 100px;
}
.abc{
	height: 100px;
}
li {
  font-size: 18px;
  list-style-type: none;

}
.p_cmt{
	margin-left :5px;
	margin-top : 5px;
	margin-bottom :0px;
}
.cmt{
	background-color: #ECECEC;
	margin-left :8px;
	margin-top : 8px;
}
.img_cmt{
	margin-left: 30px;
}
table{
	width : 100%;
}
textarea {
    width: 95%;
    height: 80px;
}

.tilte_cmt{
	font-size: 22px;
	font-weight: bold;
	text-align : center;
}
b{
	color:blue;
}




.c_header{
	background-color : #2D2F35;
}

.body_thuchanh{
	font-family: Verdana, Arial, Helvetica,sans-serif;
	width :80%;
margin:auto;
}
.intro_bg{
	height : 300px;
	color: yellow;
	background-image : url('img/bg_home_intro.gif');
}
.intro_left{
	vertical-align: text-top;
	padding-left : 100px;
	width: 50%;
}

.intro_right{
	width: 50%;
	padding-right : 100px;
}
.intro_center {
 margin-left: 80px;
}
.top {
    vertical-align: text-top;
}
.p_ghichu{
	color:#ffffff;
	margin-top:20px;
	font-size : 10px;
}
.img_pos{
	position: absolute;
	top: 5px; left: 64%;
}
.hinh {
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right : 5px;
}
.canhchinhhinh{
	padding-top : 20px;
	padding-bottom: 10px;
	background-color : #2D2F35;
}
.color_yellow{
	color: yellow;
}

.intro_txt{
	width: 50%;
	vertical-align: text-top;
	padding-right : 70px;
	padding-left : 70px;
	color:#ffffff;
	margin-top:20px;
	font-size : 10px;
	background-color : #2D2F35;
}
.container_footer {
    	position: relative;
}

.topleft_footer {
    	position: absolute;
    	top: 8px;
    	left: 25%;
    	font-size: 18px;
	color : #ffffff;
}

.img_footer {
    	width: 100%;
    	height: auto;
}
.img_in_img{
	position: absolute; 
	top: 5px; 
	left: 84%;
}
.edt_table{
	BORDER: 0; 
	border-collapse: collapse;
	 width :100%;
}

td, th, tr {
	margin: 0;
	padding: 0;
}