body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.background {
	width: 430px;
	overflow: auto;
	background-color: #e6f3fb;
	margin: auto;
	padding: auto;
}
.title {
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 5px;
}
.content {
	border-top: 4px solid #ffa500;
	margin-top: -22px;
	margin-left: 15px;
	margin-right: 15px;
}
.first-content {
	height: 145px;
	background-color: white;
}
.p1 {
	margin-left: 15px;
	margin-right: 25px;
	padding-top: 10px;
	font-size: 15px;
}
.p1-title {
	color: #0a6395;
	font-weight: bold;
	font-size: 17px;
}
.img1 {
	width: 235px;
	height: 125px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
ul {
	list-style-type: none;
}
.first-list {
	margin-left: -40px;
	margin-right: -1px;
	clear: both;
	margin-top: -11px;
}
li {
	
	background-color: #faf0bf;
	height: 40px;
	border-bottom: 2px solid white;
	line-height: 40px;
}
.li {
	padding-left: 15px;	
	color: #0a6395;;
	font-size: 15px;
}
.title2 {
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin-left: 15px;
	margin-top: -12px;
}
.second-content {
	min-height: 210px;
	background-color: white;
}


.img2 {	
	float: left;
	padding-top: 7px;
	padding-left: 10px;
	width: 140px;
	height: 130px;
	margin-bottom: 40px;
	margin-top: 21px
}
.p2 {
	margin-left: 15px;
	margin-right: 9px;
	padding-top: 36px;
	font-size: 15px;

}
.p2-title {
	color: black;
	font-weight: bold;
	font-size: 17px;
}
.day {
	color: #808080;
	margin-top: -5px;
	margin-bottom: 12px;
}
.link {
	color: #0a6395;
	text-decoration: none;
}
.second-footer {
	background-color: #f4f4ec;
	clear: both;
	min-height: 60px;
	margin-top:-18px;
}
.img3 {
	float: right;
	width: 90px;
	height: 60px;
}
.second-footer-content {
	margin-left: 30px;
}
.p3 {
	font-size: 18px;
	margin-bottom:-28px;
	padding-top: 10px;
}
.title3 {
	font-size: 20px;
	color:black;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 55px;
}
.third-content {
	min-height: 165px;
	background-color: white;
	padding-left: 14px;
	padding-top: 1px;
	padding-right: 0px;
}
.img4 {
	float: right;
	width: 158px;
	height: 165px;
	margin-top: 0px;
}
.p4 {
	margin-left: 15px;
	margin-right: 25px;
	padding-top: 6px;
	font-size: 15px;

}
.border {
	border-bottom: 2px solid #dadada;
	min-height: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
}
.title4 {
	color: black;
	font-weight: bold;
	font-size: 18px;
	margin-left: 15px;
	margin-top: 9px;
}
.content2 {
	border: 2px solid #dadada;
	min-height: 100px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: -18px;
	background-color: white;
	margin-bottom: 20px;
}
.content2-p {
	margin-top: 28px;
	margin-left: 16px;
	font-size: 16px;
	color: #0a6395;
}
.p5 {
	margin-top: -15px;
}

.image { 
   position: relative;
	
}
body {
	width:930px; 
	margin : auto;
	background-color : #000000;
}
h6 { 
        position: absolute;
    top: 120px;
    left: 80%;
    font-size: 12px;
    font-weight: bold;
}
h5 {
	margin-top: 10px;
    margin-bottom: 1px;
}

.width_btn{
		width: 100%;
		text-align: left;
	    font-size: 14px;
}
.width_image {
	width: 100%;
	BORDER: 0; 
	border-collapse: collapse;
	
}
.width_tb {
	width: 100%;
	BORDER: 0; 
	border-collapse: collapse;
	margin-top: 0;
	background-color : #ffffff;
}
#star {
	width: 60px;
    height: 15px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    background: url(../img/topic-star-ratings.gif) 0 92px;
}
.dv_image_text {
	float: left;
    width: 150px;
    height: 110px;
	margin-left :10px;
}
#video {
    width: 18px;
	margin-right: 5px;
	margin-left :10px;
    height: 15px;
    float: left;
    background: url(../img/entertainment-icons.gif) 0 -91px;
}

td {
	vertical-align:text-top;
	width:33.3%;
	margin: 0;
	padding: 0;
	BORDER: 0; 
}
 th, tr {
	margin: 0;
	padding: 0;
	BORDER: 0; 
}
.title_red {
	margin-bottom : 0;
	color : white;
	font-size: 20px;
	font-weight: bold;
	background: url(../img/h2-confidential-heading-bg.gif);
}
.title_blue {
	background: url(../img/h2-top-movie-trailers-bg.gif);
	margin-bottom : 0;
	color : white;
	font-size: 20px;
	font-weight: bold;
}
.div_mar {
	margin : 7px;
}
.div_mar_logo {
	margin-left : 10px;
	margin-top : 0;
	margin-bottom : 0;
	
}
.js_click{
	background: url(../img/h3-movie-trailers-bg.gif) 0 -91px;
	margin-bottom : 0;
	
}
#dow {
	width: 10px;
    height: 7px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    background: url(../img/top-movie-trailers-arrows.gif) 0 0;
}
#nd1 {
	height: 100px;
	overflow : hidden;
	font-size: 14px;
}
#nd2 {
	height: 0px;
	overflow : hidden;
	font-size: 14px;
}
#nd3 {
	height: 0px;
	overflow : hidden;
	font-size: 14px;
}
.ex {
    background: url(../img/h3-movie-trailers-bg.gif) 0 0;
	position: relative;
	color: blue;
	font-size: 12px;
}

.div_img{
	float : left;
	margin : 5px;
}
.div_watch{
	margin-top: 3px;
	font-weight: bold;
	color : blue;
}
.float_left {
	float : left;
}
.aaa{
    max-width: 189px;
}
.color_blue{
	color: blue;
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px;
}
.txt_size {
	font-size: 14px;
}
.duong {
    border-top-style: dotted;
	border-color: #595959;
	width: 80%;
	margin : auto;
}
.div_enter{
	color: #ffffff;
	text-align: center;
	font-size : 20px;
}
.button {
    background-color: #800080;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;

}
.bbb{
	height: 27px;
}
.sd{
	margin-top : 0;
	margin-bottom : 0;
}
.bg_dark{
	background-color : #232326;
	vertical-align: top;
}
#clock {
    width: 18px;
    margin-right: 5px;
    margin-left: 10px;
    height: 15px;
    float: left;
    background: url(../img/entertainment-icons.gif) 0 -173px;
}
.more{
	float: right;
	color: #000000;
}
.div_select {
	margin-top: 5px;
}
.div_wh{
	background-color: #ffffff;
	margin-right: 5px;
	padding-bottom: 5px;
}
.div_wh1{
	background-color: #ffffff;
	margin-left: 5px;
	padding-bottom: 5px;
}
#star2 {
    width: 60px;
    height: 15px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    background: url(../img/topic-star-ratings.gif) 0 108px;
}
.div_f{
	background-image: url(../img/f.png);
	height: 66px;
}

.f2{
	margin-left: 125px;
}
.f3{
	margin-left: 125px;
}
.f4{
	margin-left: 125px;
}
.f5{
	float: right;
}
.div_f1{
	margin: 5px;
	text-align: center;
}
.title_c{
	font-size : 18px;
}